* {
  font-family: "Poppins", system-ui;
}

.scannerPageBigDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  background-color: #1b263b;
  color: blanchedalmond;
  padding: 5rem 0;
  #reader {
    width: 50%;
    height: 50%;
    border-radius: 1rem;
    border: thick dashed blanchedalmond !important;
    overflow: hidden;
  }
}
